body {
  margin: 0;
  word-break: break-word;
  color: #222;
  font-size: 9pt;
  font-family: "Droid Sans", Sans-serif;
  background: url(loading.png) #fff no-repeat center center;
}

a { /* color: Highlight; */ color: #204a87; outline: none; text-shadow: 0 1px 1px rgba(0,0,0,0.1); opacity: 0.8; }
  .time a { color: #666 }
  a:hover { opacity: 1; text-decoration: underline; }

p { line-height: 125%; }

.message {
  padding: 0;
  margin: 6px;
  -webkit-border-radius: 6px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #aaa;
  min-height: 64px;
  position: relative;
  -webkit-box-shadow: 0 2px 0 #000;
  box-shadow: 0 2px 0 #000;
}
  .message:hover {
/*    background: rgba(0,0,0,.2);*/
  }

.searchresult {
  padding: 1px;
  background: -webkit-gradient(linear, left top, left 220%, from(rgba(128, 128, 128, 0.8)), to(black))
}

.title {
  padding: 0;
  font-size: 105%;
  font-weight: bold;
  text-shadow: 0 2px 2px #ddd;
  /* sadly this doesn't seem to work
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa));
  -webkit-background-clip: text;
  */
}

.content {
  margin: 4px;
  padding: 2px 20px 2px 54px;
}

.time a {
  font-size: 80%;
  text-decoration: none;
}

.imgbox {
  display: block;
  position: absolute;
  top: 8px; left: 8px;
  width: 40px;
  height: 40px;
  background-image: url('');
  background-repeat: no-repeat;
  -webkit-border-radius: 3px;
  -webkit-background-size: 100% 100%;
  -webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0,0,0, 0.6)));
}

.text {
  display: block;
  font-size: 95%;
}
.message .text {
  opacity: .8;
}
  .message:hover .text { opacity: 1; }

.inlinenick {
  text-decoration: none;
  font-weight: bold;
}

.replybutton {
  border: 0 !important;
  position: absolute;
  width: 16px; height: 16px;
  right: 4px;
  display: none;
  vertical-align: bottom;
}
  a.reply  { bottom: 4px; background: url(reply.png) no-repeat 0 0; }
  a.thread { bottom: 24px; background: url(thread.png) no-repeat 0 0; }

.unread {
  position: absolute;
  top: 2px; left: 2px;
  width: 8px; height: 8px;
  background: url(star.png) no-repeat left top;
}

.diggbox {
  margin-right: 2px;
  padding: 1px;
  text-align: center;
  color: black;
  text-shadow: none;
  background:  -webkit-gradient(linear, left top, left 220%, from(rgba(128, 128, 128, 0.9)), to(black));
  display: none;
}

.diggcount {
  font-size: large;
}

.private {
  background: rgba(255,255,255,.1);
}

.reply {
  background: rgba(0,0,0,.2);
  margin: 4px;
  border: 2px solid #fff;
}

.dupes {
  display: none;
  border: 0;
  margin-top: 26px;
}
  .dupes .message {
    background-color: Transparent;
    border: 0;
  }

.toggledupe {
  cursor: pointer;
  background: url(more.png) no-repeat 0 0;
  position: absolute;
  width: 16px; height: 16px;
  display: block;
  display: none;
  top: 8px; right: 8px;
}

.new {
  margin: 4px;
  border: 2px solid #888;
}
